################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GoldDigger/v16
/.vs/GoldDigger/DesignTimeBuild
/Console/obj
/GoldDiggerApi/bin/Debug/netstandard2.0
/GoldDiggerApi/obj/Debug/netstandard2.0
/GoldDiggerApi/obj
/GoldDiggerConsole/bin/Debug/netcoreapp3.1
/GoldDiggerConsole/obj/Debug/netcoreapp3.1
/GoldDiggerConsole/obj
/GoldDiggerDesktop/bin/Debug/netcoreapp3.1
/GoldDiggerDesktop/obj
/GoldDiggerAndroid/GoldDiggerAndroid/bin/Debug/netstandard2.0
/GoldDiggerAndroid/GoldDiggerAndroid/obj
/GoldDiggerAndroid/GoldDiggerAndroid.Android/bin/Debug
/GoldDiggerAndroid/GoldDiggerAndroid.Android/obj
/API/bin/Debug/netstandard2.0
/API/obj
/Common/bin/Debug/netstandard2.0
/Common/obj
/Communications/bin/Debug/netstandard2.0
/Communications/obj
/Mobile/Mobile/bin/Debug/netstandard2.0
/Mobile/Mobile/obj
/Mobile/Mobile.Android/bin/Debug
/Mobile/Mobile.Android/obj
